<ng-container *ngIf="discount">
  <div class="row">
    <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
      <p><u>Įmonės pavadinimas:</u></p>
      <p>{{discount.companyName}}</p>
    </div>
    <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
      <p><u>Nuolaidos taikymo sritis:</u></p>
      <p>{{discount.toAll ? 'Viskam' : discount.comment}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
      <p><u>Nuolaidos dydis procentais:</u></p>
      <p>{{discount.percentage}} %</p>
    </div>
    <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
      <p><u>Nuolaidos trukmė:</u></p>
      <p>Pradžia {{discount.start.toDate() | date:'y/M/d'}}            Pabaiga {{discount.end.toDate() | date:'y/M/d'}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
      <p><u>Nuolaidos kodas</u></p>
      <p>{{discount.code}}</p>
    </div>
    <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6"></div>
  </div>

  <div class="row">
    <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6"></div>
    <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
      <button mat-raised-button color="warn" (click)="deleteDiscount()">Ištrinti nuolaida</button>
    </div>
  </div>
</ng-container>