<div class="row">
  <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
    <p><u>Įmonės pavadinimas:</u></p>
    <p>Charlie Pizza</p>
  </div>
  <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
    <p><u>Nuolaidos taikymo sritis:</u></p>
    <p>Visiems patiekalams</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
    <p><u>Nuolaidos dydis procentais:</u></p>
    <p>20 %</p>
  </div>
  <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
    <p><u>Nuolaidos trukmė:</u></p>
    <p>Pradžia 2018-01-30            Pabaiga 2018-03-05</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
    <p><u>Nuolaidos kodas</u></p>
    <p>2A103BD</p>
  </div>
  <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6"></div>
</div>

<div class="row">
  <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6"></div>
  <div class="col-xs-6 com-sm-6 com-md-6 col-lg-6">
    <button>Ištrinti nuolaida</button>
  </div>
</div>
