<ul>
  <li *ngIf="auth.username">
    <a>Labas {{auth.username}}!</a>
  </li>
  <ng-container [ngSwitch]="auth.isLogedin()">
    <li *ngSwitchCase="true">
      <a [routerLink]="['/profile']">Peržiūrėti profilį</a>
    </li>
    <li style="float:right">
      <a *ngSwitchCase="false" [routerLink]="['/login']">Prisijungti</a>
      <a *ngSwitchCase="true" (click)="auth.logout()">Atsijungti</a>
    </li>
  </ng-container>
  <ng-container [ngSwitch]="auth.role">
    <ng-container *ngSwitchCase="'admin'">
      <li>
        <a [routerLink]="['/admin-menu']">Administratoriaus meniu</a>
      </li>
    </ng-container>

    <ng-container *ngSwitchCase="'user'">
      <li>
        <a [matMenuTriggerFor]="menu">Apklausos</a>
      </li>
      <li>
        <a [matMenuTriggerFor]="stats">Jūsų statistika</a>
      </li>
      <li>
        <a [matMenuTriggerFor]="adsa">Bendra statistika</a>
      </li>
      <li>
        <a (click)="onAddActivityClick()">Pridėti veiklą</a>
      </li>
    </ng-container>

    <ng-container *ngSwitchCase="'parthner'">
      <li>
        <a [routerLink]="['/create-discount']">Sukurti nuolaidą</a>
      </li>
      <li>
        <a [matMenuTriggerFor]="discount">Peržiūrėti taikomas nuolaidas</a>
      </li>
      <li>
        <a [routerLink]="['/ad-buy']">Pirkti reklamą</a>
      </li>
    </ng-container>

  </ng-container>
</ul>


<mat-menu #menu="matMenu">
  <button *ngFor="let survey of surveyList$ | async" mat-menu-item [routerLink]="['/survey', survey.fireId]">
    <span>{{survey.date.toDate() | date:'y/M/d'}} veiklos apklausa</span>
  </button>
</mat-menu>

<mat-menu #stats="matMenu" style="width: 250px; height: 150px;">
  <ng-container *ngIf="doughnutChartData">
    <p>Dalyvavimas veikloje</p>
    <div style="display: block; width: 250px; height: 150px;">
      <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"></canvas>
    </div>
  </ng-container>
  <ng-container *ngIf="!doughnutChartData">
      <p>Jūs dar nedalyvavote jokioje veikloje</p>
  </ng-container>
</mat-menu>

<mat-menu #adsa="matMenu">
</mat-menu>

<mat-menu #discount="matMenu">
  <button *ngFor="let discount of discounts$ | async" mat-menu-item [routerLink]="['/discount-detail', discount.fireId]">
    <span>{{discount.code}}</span>
  </button>
</mat-menu>