<form>
  <div class="row">
    <mat-form-field class="form-input-width">
      <input matInput placeholder="Vartotojo vardas" [formControl]="username" [errorStateMatcher]="matcher">
      <mat-error *ngIf="username.hasError('required')">
        Vartotojo vardo laukelis yra privalomas
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-input-width">
      <input type="password" matInput placeholder="Slaptažodis" [formControl]="password" [errorStateMatcher]="matcher">
      <mat-error *ngIf="password.hasError('required')">
        Vartotojo slaptažodžio laukelis yra privalomas
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-input-width">
      <input matInput placeholder="Vardas" [formControl]="name" [errorStateMatcher]="matcher">
      <mat-error *ngIf="name.hasError('required')">
        Vartotojo slaptažodžio laukelis yra privalomas
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" (click)="register()">Prisiregistruoti</button>
  </div>
</form>